.Authentication{
    display: flex;
    flex-direction: column;
}

.logout-button {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    width: fit-content;
    border: none;
    outline: solid 2px white;
    color: white;
    background-color: red;
    transition: .2s ease-in-out;
    transition-property: transform;
}

.logout-button:hover {
    transform: scale(1.2);
}