.impressumLink {
    width: 3rem;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
  }

  .impressumLink:hover {
    filter: brightness(0) saturate(100%) invert(14%) sepia(75%) saturate(5779%) hue-rotate(357deg) brightness(102%) contrast(118%);
  }