.DetailedSearchbar{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 98vw;
    padding: 1rem;
    z-index: 9999;
    display: flex;
    background-color: teal;
}

.leftSection{
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
}

.dffposition-input {
    width: 15ch;
}

.dSearchButtons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
    margin-right: auto;
    width: fit-content;
}

.dSearchUniformen-Sections{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.leftSection > h3,
.dSearchUniformen-Sections > h3 {
    color: var(--design-colour);
    margin-bottom: .5rem;
}

.leftSection > h3 {
    color: var(--design-colour);
    margin-bottom: .5rem;
    align-self: center;
}

.dSearch-assets {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--design-colour);
}

.dSearch-assets > h4 {
    width: 17ch;
}

.dSearch-select {
    color: black;
}