.headline-div  {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-left: auto;
}

.headline-a > img {
    margin-top: .5rem;
    height: 3rem;
}

.headline-div > h1 {
    color: var(--wkd-white);
    text-align: center;
    font-size: 3rem;
}

.headline-logout-div{
    display: flex;
    margin-bottom: 1rem;
  }
  
  .headline-logout-div .print-button {
    width: 5rem;
    font-size: larger;
    border: none;
    cursor: pointer;
    outline: solid 2px white;
    transition: .2s ease-in-out;
    transition-property: transform, background-color, color;
    cursor: pointer;
}

.headline-logout-div .print-button:hover {
transform: scale(1.2);
background-color: red;
color: white;
outline: none;
}

@media (max-width: 576px) {

    .headline-a > img {
        display: none;
    }
    
    .headline-div > h1 {
        color: var(--wkd-white);
        text-align: center;
        font-size: large;
        margin-right: 1rem;
    }
    
    .headline-logout-div{
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
      }
      
      .headline-logout-div .print-button {
        display: none;
    }
    

}