.headline-div  {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-left: auto;
}

.headline-a > img {
    margin-top: .5rem;
    height: 3rem;
}

.headline-div > h1 {
    color: var(--wkd-white);
    text-align: center;
    font-size: 3rem;
}