.headline-div  {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-left: auto;
}

.headline-a > img {
    margin-top: .5rem;
    height: 3rem;
}

.headline-div > h1 {
    color: var(--design-colour);
    text-align: center;
    font-size: 3rem;
}

.headline-logout-div{
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  


@media (max-width: 576px) {

    .headline-a > img {
        display: none;
    }
    
    .headline-div > h1 {
        color: var(--design-colour);
        text-align: center;
        font-size: large;
        margin-right: 1rem;
    }
    
    .headline-logout-div{
        display: flex;
        margin-bottom: 1rem;
        margin-right: .5rem;
        margin-left: .5rem;
        align-items: center;
      }


}