.logout-button-div{
    margin-left: auto;
    margin-right: 1rem;
}


.logout-button {
    width: 5rem;
    font-size: larger;
    border: none;
    cursor: pointer;
    outline: solid 2px white;
    transition: .2s ease-in-out;
    transition-property: transform, background-color, color;
}

.logout-button:hover {
    transform: scale(1.2);
    background-color: red;
    color: white;
    outline: none;
}
