
/* ? Searchbar section */

.Searchbar {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}                

.searchbarFN-input {

}
.searchbarLN-input  {
    margin-left: 1rem;
}

.searchbarPO-input  {
    margin-left: 1rem;
}

.searchbarInputs {
    width: 20ch;
    height: fit-content;
    margin-bottom: .5rem;
    outline: solid 1px black;
}

.noMatch-class{
    margin-left: auto;
    margin-right: 1rem;
}

@media (max-width: 576px) {


/* ? Searchbar section */

.Searchbar {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}                

.searchbarFN-input {
    margin-left: .5rem;

}
.searchbarLN-input  {
    margin-left: .5rem;
}

.searchbarPO-input  {
    margin-left: .5rem;
}

.searchbarInputs {
    width: 11ch;
    height: 2rem;
    margin-bottom: .5rem;
    outline: solid 1px black;
}

.noMatch-class{
    margin-left: auto;
    margin-right: 1rem;
}
    
}