
/* ? Searchbar section */

.Searchbar {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-left: 1.5rem;
    align-items: center;
}                

.searchbarInputs {
    width: 20ch;
    height: 5ch;
    margin-bottom: .5rem;
    outline: solid 1px black;
}

.removeBtn,
.searchBtn {
    width: fit-content;
    height: 5ch;
    cursor: pointer;
    outline: solid 1px black;
    transition: .2s ease-in-out;
    transition-property: transform;
}

.removeBtn:hover,
.searchBtn:hover {
    transform: scale(1.2);
    outline: none;
}

.removeBtn{
    margin-left: auto;
}