/* ? data form */
.data-form {
    display: flex;
    flex-direction: column;
}

.visibleMemberSections:hover > .updateBtn {
    visibility: visible;
}

.visibleMemberSections:hover > .deleteBtn {
    visibility: visible;
}

/* ? summary class for the form input fields */
.formFields {
    border: none;
    outline: none;
    text-align: center;
}

.visibleMemberSections {
    display: flex;
    padding: 1rem;
    gap: .5rem;
}

.toggledMemberSections {
    color: white;
    padding-bottom: .5rem;
    padding-left: .5rem;
    gap: .5rem;
}

.uniformen-div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.uniformen-div > h3 {
    text-align: center;
}

.uniformen-divs {
    display: flex;
    gap: .5rem;
}

.uniformen-divs > p{
    width: 8ch;
}

.infoFields  {
    width: 5ch;
}

/* ? classes for the individual inputs  */
.idVal  {
    color: white;
    width: 3ch;
}

.inp-FN  {
    width: 20ch;
}

.inp-LN  {
    width: 20ch;
}

.inp-PO  {
    width: 15ch;
}

.memberInfo-wrapper{
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.memberInfo-wrapper > h3{
    color: white;
}

.inp-Text  {
}

.memberInfoBtn{
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}

.data-wrapper {
    margin: 1rem;
    border: dashed 2px white ;
}
  
.fireTruck {
    width: 2rem;
    aspect-ratio: 1/1;
    margin-left: auto;
}

.memberInfo-wrapper{
    display: flex;
    flex-direction: column;
}

.memberInfo-fireImage{
    width: 5rem;
    height: 5rem;
    margin-top: auto;
    margin-left: -1rem;
}

.memberButtons-div {
    display: flex;
    gap: 2rem;
    margin-top: auto;
    margin-bottom: .5rem;
}

.deleteBtn,
.updateBtn {
width: 8ch;
outline: solid 4px goldenrod;
transition: .2s ease-in-out;
transition-property: background-color, color;
}

.deleteBtn:hover,
.updateBtn:hover {
background-color: goldenrod;
color: white;
}

.notSelectedMember-div{
visibility: hidden;
}

.visibleMemberSection-div{
outline: solid 6px white;
}

.uniformenTypes-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: .5rem;
    padding: .5rem;
    text-align: center;
    position: relative;
}

.uniformenTypes-div::before{ 
    position: absolute;
    content: "";
    top: 0;
    left: 10%;
    width: 80%;
    border: solid 1px white;
}

.uniformenLabels-div {
    display: flex;
    gap: 1rem;
}

/* .uniformenLabels-div > p { 
} */

.galaLabel-div .uLabelsP1 {
    margin-left: 7ch;
}

.dienstbekleidungLabel-div .uLabelsP1 {
margin-left: 9ch;

}

.einsatzuniformenLabel-div .uLabelsP1 {
margin-left: 20ch;
}

.uniformenLabels-div .uLabelsP2 {
    margin-left: auto;
}


/* .galaLabel-div {

} */

/* .dienstbekleidungLabel-div  {

} */

/* .einsatzuniformLabel-div{

} */

.uniformenAssets-divs {
    display: flex;
    gap: .5rem;
}

.uniformenAssets-divs > [type='checkbox'] {
margin-left: auto;
}

/* .galaAsset {

} */

.galaAsset > p {
    width: 6ch;
}

/* .dienstAsset {

} */

.dienstAsset > p {
width: 8ch;
}

/* .einsatzAsset {

} */

.einsatzAsset > p {
width: 19ch;
}

/* ? classes for the input labels */

.label-form{
display: flex;
padding: .5rem;
gap: .5rem;
}

.label-form > h3 {
border: none;
outline: none;
text-align: center;
color: white;
}

.label-ID  {
color: white;
width: 3ch;
}

.label-FN  {
width: 16.5ch;
}

.label-LN  {
width: 17ch;
}

.label-PO  {
width: 13ch;
}  