/* ? form div-wrapper */
.form-div {
}

/* ? data form */
.data-form {
    display: flex;
    padding: 1rem;
    gap: .5rem;
}

/* ? summary class for the form input fields */
.formFields {
    border: none;
    outline: none;
    text-align: center;
}

/* ? classes for the individual inputs  */
.inp-ID  {
    width: 6ch;
}

.inp-FN  {
    width: 20ch;
}

.inp-LN  {
    width: 20ch;
}

.inp-PO  {
    width: 15ch;
}