
.Overview {
    min-height: 100vh;
    background-color: var(--wkd-red);
}

.main-logo {
    width: 5rem;
}

.ov-main-title {
    color: var(--wkd-white);
    text-align: center;
    font-size: 3rem;
  }

.console{
    display: flex;
    gap: .5rem;
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.manBtn {
    width: 8rem;
}

.newBtn-div{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.newMember-div{
  display: flex;
  padding: 1rem;
  gap: .5rem;
  padding: .5rem;
  margin-left: 1.5rem;
}

.saveBtn{
  margin-left: .7rem;
}

.saveBtn:hover {
  background-color: goldenrod;
}

/* ! Main section data */

.data-wrapper {
  margin: 1rem;
  border: dashed 2px white ;
}

.deleteBtn,
.updateBtn {
  width: 8rem;
  width: fit-content;
  visibility: hidden;
}

/* ? classes for the input labels */

.label-form{
  display: flex;
  padding: .5rem;
  gap: .5rem;
}

.label-form > h3 {
  border: none;
  outline: none;
  text-align: center;
  color: white;
}

.label-ID  {
  color: white;
  width: 3ch;
}

.label-FN  {
  width: 16.5ch;
}

.label-LN  {
  width: 17ch;
}

.label-PO  {
  width: 13ch;
}

.imageNewBtn{
  width: 2rem;
  height: 2rem;
  filter: invert(1);
}