
.Overview {
    min-height: 100vh;
    background-color: var(--wkd-red);
}

.main-logo {
    width: 5rem;
}

.ov-main-title {
    color: var(--wkd-white);
    text-align: center;
    font-size: 3rem;
  }

.mainBtn{
    display: flex;
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

  .newBtn {

}