button,
image{
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
  text-align: center;
}

.Overview {
    min-height: 100vh;
    background-color: var(--wkd-red);
}

.headline-div  {
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.headline-a > img {
  margin-top: .5rem;
  height: 3rem;
}

.headline-div > h1 {
    color: var(--wkd-white);
    text-align: center;
    font-size: 3rem;
  }

/* ? New member section */

.console{
    display: flex;
    gap: .5rem;
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.newBtn-div{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#new {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
  cursor: pointer;
}

.newMember-div{
  display: flex;
  padding: 1rem;
  gap: .5rem;
  padding: .5rem;
  margin-left: 1.5rem;
}

#save{
  width: 10ch;
  margin-left: .7rem;
  outline: solid 4px goldenrod;
  cursor: pointer;
  transition: .2s ease-in-out;
  transition-property: background-color, color;
}

#save:hover {
  background-color: goldenrod;
  color: white;
}

.impressumLink {
  width: 3rem;
  aspect-ratio: 1/1;
  margin-left: auto;
}